.vscode/settings.json
csharp2-martina/obj/csharp2-martina.csproj.nuget.dgspec.json
csharp2-martina/obj/csharp2-martina.csproj.nuget.g.props
csharp2-martina/obj/csharp2-martina.csproj.nuget.g.targets
csharp2-martina/obj/project.assets.json
csharp2-martina/obj/project.nuget.cache
csharp2-martina/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
csharp2-martina/obj/Debug/net8.0/csharp2-martina.AssemblyInfo.cs
csharp2-martina/obj/Debug/net8.0/csharp2-martina.AssemblyInfoInputs.cache
csharp2-martina/obj/Debug/net8.0/csharp2-martina.assets.cache
csharp2-martina/obj/Debug/net8.0/csharp2-martina.GeneratedMSBuildEditorConfig.editorconfig
csharp2-martina/obj/Debug/net8.0/csharp2-martina.GlobalUsings.g.cs
